alabaster==0.7.12
alembic==1.4.2
altair==4.1.0
astor==0.8.1
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
Automat==20.2.0
azure-core==1.6.0
azure-storage-blob==12.3.2
Babel==2.8.0
backcall==0.1.0
base58==2.0.1
BeautifulReport==0.1.2
bleach==3.1.5
blinker==1.4
boto3==1.14.29
botocore==1.17.29
cachetools==4.1.1
carina==0.2.8
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
cluster==1.4.1.post2
colorama==0.4.3
confuse==1.1.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
databricks-cli==0.11.0
ddt==1.4.1
decorator==4.4.2
defusedxml==0.6.0
docker==4.2.2
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
enum34==1.1.10
Flask==1.0.2
Flask-Cors==3.0.7
gitdb==4.0.5
GitPython==3.1.3
gorilla==0.3.0
graphviz==0.14.1
hdfs==2.5.8
html-testRunner==1.2.1
htmlmin==0.1.12
hyperlink==19.0.0
idna==2.9
ImageHash==4.1.0
imagesize==1.2.0
imbalanced-learn==0.6.2
imblearn==0.0
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonf==1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
keyring==21.2.1
kiwisolver==1.2.0
llvmlite==0.32.1
lxml==4.5.1
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
missingno==0.4.2
mistune==0.8.4
mlflow==1.9.1
mongoengine==0.20.0
more-itertools==8.4.0
msrest==0.6.17
nbconvert==5.6.1
nbformat==5.0.6
network==0.1
networkx==2.4
nicer==0.0.36
notebook==6.0.3
numba==0.49.1
numpy==1.18.1
oauthlib==3.1.0
packaging==20.3
pandas==1.0.3
pandas-profiling==2.8.0
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.0
pathtools==0.1.2
phik==0.9.11
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
pkt==0.0.21
pluggy==0.13.1
prettytable==0.7.2
prometheus-client==0.7.1
prometheus-flask-exporter==0.14.1
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.12.2
py==1.9.0
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydeck==0.4.0
PyDispatcher==2.0.5
pydotplus==2.0.2
pydub==0.24.1
pyecharts==1.7.1
Pygments==2.6.1
PyHamcrest==2.0.2
pymongo==3.10.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.16.0
pytest==5.4.3
python-dateutil==2.8.1
python-editor==1.0.4
python-markdown-math==0.7
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
querystring-parser==1.2.4
queuelib==1.5.0
readme-renderer==26.0
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
s3transfer==0.3.3
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==2.1.0
seaborn==0.10.1
Send2Trash==1.5.0
service-identity==18.1.0
simplejson==3.17.0
six==1.14.0
smmap==3.0.4
snowballstemmer==2.0.0
Sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.13
sqlparse==0.3.1
streamlit==0.64.0
svgwrite==1.4
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
Tree==0.2.4
twine==3.2.0
Twisted==20.3.0
typing==3.7.4.1
tzlocal==2.1
urllib3==1.25.9
validators==0.16.0
visions==0.4.4
w3lib==1.22.0
waitress==1.4.4
watchdog==0.10.3
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zipp==3.1.0
zope.interface==5.1.0
